<!--begin::Footer-->
<div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
    <!--begin::Container-->
    <div class="container-xxl d-flex flex-column flex-md-row align-items-left justify-content-left">
        <!--begin::Copyright-->
        <div class="text-dark order-2 order-md-1">
            <span class="text-muted fw-bold me-1">2021©</span>
            <a href="{{ path(codyas_tb_config('home_path')) }}" target="_blank" class="text-gray-800 text-hover-primary">
                {{ codyas_tb_config('app_name') }}&nbsp;</a>
            </a>
            | {{ 'Powered by' | trans }}&nbsp;<a href="https://www.codyas.com" target="_blank" class="kt-link">Codyas
        </div>
        <!--end::Copyright-->
    </div>
    <!--end::Container-->
</div>
<!--end::Footer-->