<!-- begin: Header Menu -->
<button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn">
    <i class="la la-close"></i>
</button>
<div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">
    <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile  kt-header-menu--layout-tab ">
        <ul class="kt-menu__nav ">
            <li class="kt-menu__item  kt-menu__item--rel">
                <div class="kt-subheader__main mt-3">
                    <h3 class="kt-subheader__title text-black">{{ pageTitle }}</h3>
                    <span class="kt-subheader__separator kt-subheader__separator--v"></span>

                    <div class="kt-input-icon kt-input-icon--right kt-subheader__search kt-hidden">
                        <input type="text" class="form-control" placeholder="{{ 'Buscar órden de compra' | trans }}"
                                id="generalSearch">
                        <span class="kt-input-icon__icon kt-input-icon__icon--right">
											<span><i class="flaticon2-search-1"></i></span>
										</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<!-- end: Header Menu -->