<div class="kt-header__topbar">
    <!--begin: Search -->
    <div class="kt-header__topbar-item kt-header__topbar-item--search dropdown"
            id="kt_quick_search_toggle">
        <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
            <span class="kt-header__topbar-icon"><i class="flaticon2-search-1"></i></span>
        </div>
        <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-top-unround dropdown-menu-anim dropdown-menu-lg">
            <div class="kt-quick-search kt-quick-search--dropdown kt-quick-search--result-compact"
                    id="kt_quick_search_dropdown">
                <form method="get" class="kt-quick-search__form">
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i
                                        class="flaticon2-search-1"></i></span></div>
                        <input type="text" class="form-control kt-quick-search__input"
                                placeholder="Search...">
                        <div class="input-group-append"><span class="input-group-text"><i
                                        class="la la-close kt-quick-search__close"></i></span></div>
                    </div>
                </form>
                <div class="kt-quick-search__wrapper kt-scroll" data-scroll="true" data-height="325"
                        data-mobile-height="200">
                </div>
            </div>
        </div>
    </div>

    <!--end: Search -->

    <!--begin: Notifications -->
    {% include 'partial/_notifications.html.twig' %}
    <!--end: Notifications -->

    {#                    <!--begin: Quick panel -->#}
    {#                    <div class="kt-header__topbar-item kt-header__topbar-item--quick-panel" data-toggle="kt-tooltip"#}
    {#                            title="Quick panel" data-placement="right">#}
    {#                        <span class="kt-header__topbar-icon" id="kt_quick_panel_toggler_btn">#}
    {#                            <i class="flaticon2-cube-1"></i>#}
    {#                        </span>#}
    {#                    </div>#}
    {#                    <!--end: Quick panel -->#}


    <!--begin: User Bar -->
    {% include 'partial/_user_bar.html.twig' %}
    <!--end: User Bar -->
</div>