{% set fill = codyas_tb_config('theme') == 'dark' ? 'black' : 'white' %}
<!--begin::Svg Icon | path: assets/media/icons/duotune/general/gen035.svg-->
<span class="svg-icon {{ extraClass is defined ? extraClass : '' }}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="{{ fill }}"/>
<rect x="10.8891" y="17.8033" width="12" height="2" rx="1" transform="rotate(-90 10.8891 17.8033)" fill="{{ fill }}"/>
<rect x="6.01041" y="10.9247" width="12" height="2" rx="1" fill="{{ fill }}"/>
</svg></span>
<!--end::Svg Icon-->